In [1]:
import pandas as pd

In [2]:
POI_df = pd.read_json('POI.df')

In [3]:
POI_df.head()

,index,name,review_count,rating,price,lat,long,category
0,0,Alo Restaurant,288,4.5,$$$$,43.648510,-79.395840,Nightlife
1,1,Otto's Berlin Döner,256,4.0,$$,43.656340,-79.402907,Nightlife
2,2,Bar Raval,275,4.0,$$$,43.655843,-79.409943,Nightlife
3,3,Wvrst,788,4.0,$$,43.644186,-79.401015,Nightlife
4,4,Grey Gardens,95,4.5,$$$,43.653800,-79.401430,Nightlife

In [29]:
import os

api_key = os.environ.get('google_api_key')
print(api_key)

AIzaSyBHZR9j8gp1SzAW_bzt5aF1mEn7_U6A2ao

In [7]:
base_url = 'https://maps.googleapis.com/maps/api/place/findplacefromtext/json?'
key = api_key
inputtype = 'textquery'
input = ''

params = {'key':api_key, 'inputtype':inputtype, 'input':input}

In [48]:
input = 'Alo Restaurant'

import requests 

base_url = 'https://maps.googleapis.com/maps/api/place/findplacefromtext/json?'
key = api_key
inputtype = 'textquery'

headers = { 'key' : api_key}
params = {'inputtype':inputtype, 'input':input}
test = requests.get(url=base_url, headers=headers, params=params)

In [69]:
gmaps.places('Banh Mi Boys, Toronto', 'locationbias=43.654341,-79.400480')

{'html_attributions': [],
 'results': [{'business_status': 'OPERATIONAL',
   'formatted_address': '392 Queen St W, Toronto, ON M5V 2A9, Canada',
   'geometry': {'location': {'lat': 43.6487985, 'lng': -79.3969268},
    'viewport': {'northeast': {'lat': 43.65006757989272,
      'lng': -79.39554602010728},
     'southwest': {'lat': 43.64736792010728, 'lng': -79.39824567989272}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png',
   'id': '7893b5f408b42e9596f7138fe385c40018cf5e4a',
   'name': 'Banh Mi Boys',
   'opening_hours': {'open_now': False},
   'photos': [{'height': 2988,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/116195498945490035710">Ajay Panday</a>'],
     'photo_reference': 'CmRaAAAAF-oVxNRMhPzLaSRBWdbxhp_DWEWDLvgABynLYaC9u8dEfTaASpKlScpVb7m2yOx4Pj2H4vIQ3PsFGJc9HsOgHZJJCndEjAiq0oULbhsz90Cw0z9TXq50aBewjYHsTO3-EhBkwcSdrFrJLMP52aMym2ojGhROYH8Nl5wx-x_0I8Zsf1aSv_-Iag',
     'width': 5312}],
   'place_id': 'ChIJ_7hje9s0K4gRPxaia1MqSos',
   'plus_code': {'compound_code': 'JJX3+G6 Toronto, Ontario',
    'global_code': '87M2JJX3+G6'},
   'price_level': 1,
   'rating': 4.6,
   'reference': 'ChIJ_7hje9s0K4gRPxaia1MqSos',
   'types': ['restaurant', 'food', 'point_of_interest', 'establishment'],
   'user_ratings_total': 1802},
  {'business_status': 'OPERATIONAL',
   'formatted_address': '2365 Yonge St, Toronto, ON M4P 3J6, Canada',
   'geometry': {'location': {'lat': 43.7092283, 'lng': -79.3986194},
    'viewport': {'northeast': {'lat': 43.71056497989272,
      'lng': -79.39739742010728},
     'southwest': {'lat': 43.70786532010727, 'lng': -79.40009707989272}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png',
   'id': 'e162a2b5eec299866416797f49bc9fbbb4930ef4',
   'name': 'Banh Mi Boys',
   'opening_hours': {'open_now': False},
   'photos': [{'height': 2268,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/115159729861585528555">Bianca Devins</a>'],
     'photo_reference': 'CmRaAAAAPmnwmgk8qizVAiXAqt3aKXRPgtCaOmYMTcS95luqitZPoOKwDwoqoBpDjqbOTpCEm2gytAgg0aEqBaUE49W9CTPzO2s35871OktYTMjcc4tanH1dUgLklE_wxSVyjTSOEhAEkeqlHiieGAjLbuf2hX7DGhSKvruHgt9tsw8KRTcHV8aS5dhZTQ',
     'width': 4032}],
   'place_id': 'ChIJgTk-EyMzK4gR0sRuTPVpkgg',
   'plus_code': {'compound_code': 'PJ52+MH Toronto, Ontario',
    'global_code': '87M2PJ52+MH'},
   'price_level': 1,
   'rating': 4.4,
   'reference': 'ChIJgTk-EyMzK4gR0sRuTPVpkgg',
   'types': ['restaurant', 'food', 'point_of_interest', 'establishment'],
   'user_ratings_total': 673},
  {'business_status': 'OPERATIONAL',
   'formatted_address': '399 Yonge St, Toronto, ON M5B 1S9, Canada',
   'geometry': {'location': {'lat': 43.6593212, 'lng': -79.3820631},
    'viewport': {'northeast': {'lat': 43.66065872989273,
      'lng': -79.38077087010727},
     'southwest': {'lat': 43.65795907010728, 'lng': -79.38347052989272}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png',
   'id': '162916af4fec5db7ccf550367b7cd89c34419ef4',
   'name': 'Banh Mi Boys',
   'opening_hours': {'open_now': False},
   'photos': [{'height': 2988,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/115098329105838893123">Mei Ling Chen</a>'],
     'photo_reference': 'CmRaAAAAAjh4nL-lJdVun67KqFdSrQr3X1dZUICXoblICeLGtQu7e7ihgv8lP_1R9w55jtXPlGmRKQLMlOgGWB8pYj5M-_RmKFgfKtz0-CjaYRP_FgzD5y4FF3LGL7KIdxcJxSpkEhAFgv6J1lasD3G3wsyOCSynGhRprdNkwQqPS52doLLz92VzpaxiHw',
     'width': 5312}],
   'place_id': 'ChIJyRlRaLU0K4gRatGG_keAqsM',
   'plus_code': {'compound_code': 'MJ59+P5 Toronto, Ontario',
    'global_code': '87M2MJ59+P5'},
   'price_level': 1,
   'rating': 4.5,
   'reference': 'ChIJyRlRaLU0K4gRatGG_keAqsM',
   'types': ['meal_takeaway',
    'restaurant',
    'food',
    'point_of_interest',
    'establishment'],
   'user_ratings_total': 1581}],
 'status': 'OK'}

In [50]:
response.json()

{'candidates': [{'formatted_address': '9738 NE 117th Ln ste c, Kirkland, WA 98034, United States',
   'name': 'Mongolian Grill Kirkland',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 2048,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/107929052979964044904">Mongolian Grill Kirkland</a>'],
     'photo_reference': 'CmRaAAAA0WGKyKDp7bPrySBPwPKyjeisFe7hm_6trfvwTYfH1Dy4elZBcC2QsfUx1CXu8s5jDz4WXzVA6He6wKn1oeVQ4GCbVhpJvNqTwfiOhJIKJuIjcz1R_tTg2RNa56KAuMRYEhDQm8jMnd6XZ2Xg71Si097gGhS0mBNg5WL4TEt5IcxyYpqeOiWOuw',
     'width': 1536}],
   'rating': 4.3}],
 'status': 'OK'}

In [40]:
response.text.json()

AttributeError: 'str' object has no attribute 'json'

In [58]:
POI_df.head(2)

,index,name,review_count,rating,price,lat,long,category
0,0,Alo Restaurant,288,4.5,$$$$,43.64851,-79.395840,Nightlife
1,1,Otto's Berlin Döner,256,4.0,$$,43.65634,-79.402907,Nightlife

In [62]:
POI_df = POI_df.sort_values('review_count', ascending=False)

In [63]:
POI_df.head(10)

,index,name,review_count,rating,price,lat,long,category
50,0,Seven Lives Tacos y Mariscos,1304,4.5,$,43.654341,-79.400480,Restaurants
53,3,Banh Mi Boys,1109,4.5,$,43.648840,-79.396950,Restaurants
68,18,Gusto 101,974,4.0,$$,43.645002,-79.400309,Restaurants
11,11,Insomnia Restaurant & Lounge,921,4.0,$$,43.665961,-79.411003,Nightlife
3,3,Wvrst,788,4.0,$$,43.644186,-79.401015,Nightlife
78,28,Wvrst,788,4.0,$$,43.644186,-79.401015,Restaurants
80,30,Rol San,738,3.0,$$,43.654353,-79.398313,Restaurants
51,1,Ramen Isshin,699,4.5,$$,43.656340,-79.406890,Restaurants
85,35,Lee Restaurant,635,4.0,$$$,43.644144,-79.400384,Restaurants
62,12,Dumpling House Restaurant,583,3.5,$,43.653780,-79.398700,Restaurants

In [64]:
POI_df = POI_df.head(10)

In [67]:
names = list(POI_df['name'])
names

['Seven Lives Tacos y Mariscos',
 'Banh Mi Boys',
 'Gusto 101',
 'Insomnia Restaurant & Lounge',
 'Wvrst',
 'Wvrst',
 'Rol San',
 'Ramen Isshin',
 'Lee Restaurant',
 'Dumpling House Restaurant']

In [72]:
gmaps.places('Banh Mi Boys, Toronto', 'locationbias=43.654341,-79.400480')['results'][0]['formatted_address']

'392 Queen St W, Toronto, ON M5V 2A9, Canada'

In [76]:
addresses = []

for i in names:
    address = gmaps.places(i,'locationbias=43.654341,-79.400480')['results'][0]['formatted_address']
    addresses.append(address)

In [77]:
addresses

['69 Kensington Ave, Toronto, ON M5T 2K2, Canada',
 '1198 Kingsway, Vancouver, BC V5V 3C8, Canada',
 '101 Portland St, Toronto, ON M5V 2N3, Canada',
 '563 Bloor St W, Toronto, ON M5S 1Y6, Canada',
 '609 King St W, Toronto, ON M5V 1M5, Canada',
 '609 King St W, Toronto, ON M5V 1M5, Canada',
 '323 Spadina Ave, Toronto, ON M5T 2E9, Canada',
 '421 College St, Toronto, ON M5T 1T1, Canada',
 '3751 Delbrook Ave, North Vancouver, BC V7N 3Z4, Canada',
 '1719 Robson St, Vancouver, BC V6G 1C9, Canada']

In [88]:
data = {'addresses':addresses, 'api_key':api_key}

SyntaxError: from __future__ imports must occur at the beginning of the file (<ipython-input-88-acfbd2c02544>, line 6)

In [80]:
def create_distance_matrix(data):
    addresses = data['addresses']
    API_key = data["api_key"]
    max_elements = 100
    num_addresses = len(addresses)
    max_rows = max_elements
    q, r = divmod(num_addresses, max_rows)
    dest_addresses = addresses
    distance_matrix = []
    
    for i in range(q):
        origin_addresses = addresses[i * max_rows: (i + 1) * max_rows]
        response = send_request(origin_addresses, dest_addresses, API_key)
        distance_matrix += build_distance_matrix(response)
    
    if r > 0:
        origin_addresses = addresses[q * max_rows: q * max_rows + r]
        response = send_request(origin_addresses, dest_addresses, API_key)
        distance_matrix += build_distance_matrix(response)
    
    return distance_matrix

In [81]:
def send_request(origin_addresses, dest_addresses, API_key):

    def build_address_str(addresses):
    # Build a pipe-separated string of addresses
        address_str = ''
        for i in range(len(addresses) - 1):
              address_str += addresses[i] + '|'
        address_str += addresses[-1]
        return address_str

    request = 'https://maps.googleapis.com/maps/api/distancematrix/json?units=imperial'
    origin_address_str = build_address_str(origin_addresses)
    dest_address_str = build_address_str(dest_addresses)
    request = request + '&origins=' + origin_address_str + '&destinations=' + \
                       dest_address_str + '&key=' + API_key
    jsonResult = urllib.urlopen(request).read()
    response = json.loads(jsonResult)
    return response

def build_distance_matrix(response):
    distance_matrix = []
    for row in response['rows']:
        row_list = [row['elements'][j]['distance']['value'] for j in range(len(row['elements']))]
        distance_matrix.append(row_list)
    return distance_matrix

In [86]:
def main():
    addresses = data['addresses']
    API_key = data['API_key']
    distance_matrix = create_distance_matrix(data)
    print(distance_matrix)

In [87]:
distance_matrix

NameError: name 'distance_matrix' is not defined