In [1]:
from __future__ import division
from __future__ import print_function
import requests
import json
import urllib

In [2]:
import pandas as pd
POI_df = pd.read_json('POI.df')

In [3]:
import os

api_key = os.environ.get('google_api_key')
print(api_key)

AIzaSyBHZR9j8gp1SzAW_bzt5aF1mEn7_U6A2ao

In [4]:
POI_df = POI_df.sort_values('review_count', ascending=False)

In [5]:
POI_df.head(10)

,index,name,review_count,rating,price,lat,long,category
50,0,Seven Lives Tacos y Mariscos,1304,4.5,$,43.654341,-79.400480,Restaurants
53,3,Banh Mi Boys,1109,4.5,$,43.648840,-79.396950,Restaurants
68,18,Gusto 101,974,4.0,$$,43.645002,-79.400309,Restaurants
11,11,Insomnia Restaurant & Lounge,921,4.0,$$,43.665961,-79.411003,Nightlife
3,3,Wvrst,788,4.0,$$,43.644186,-79.401015,Nightlife
78,28,Wvrst,788,4.0,$$,43.644186,-79.401015,Restaurants
80,30,Rol San,738,3.0,$$,43.654353,-79.398313,Restaurants
51,1,Ramen Isshin,699,4.5,$$,43.656340,-79.406890,Restaurants
85,35,Lee Restaurant,635,4.0,$$$,43.644144,-79.400384,Restaurants
62,12,Dumpling House Restaurant,583,3.5,$,43.653780,-79.398700,Restaurants

In [6]:
POI_df = POI_df.head(10)

In [7]:
lat = list(POI_df['lat'])
lon = list(POI_df['long'])

In [8]:
import math
R = 6373.0

lat1 = math.radians(lat[0])
lon1 = math.radians(lon[0])

lat2 = math.radians(lat[1])
lon2 = math.radians(lon[0])

dlon = lon2 - lon1
dlat = lat2 - lat1

a = math.sin(dlat / 2)**2 + math.cos(lat1) * math.cos(lat2) * math.sin(dlon / 2)**2
c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
distance = R * c

print(distance)

0.6118926533268025

In [9]:
distance_matrix = [[],[],[],[],[],[],[],[],[],[]]

In [10]:
range(len(lat))
list(range(len(lat)))[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [11]:
distance_matrix = [[],[],[],[],[],[],[],[],[],[]]

for i in range(len(lat)):
    dist = []
    for j in list(range(len(lat)))[::-1]:
        lat1 = math.radians(lat[i])
        lon1 = math.radians(lon[i])
            
        lon2 = math.radians(lon[j])
        lat2 = math.radians(lat[j])
            
        dlon = lon2 - lon1
        dlat = lat2 - lat1
            
        a = math.sin(dlat/2)**2 + math.cos(lat1) * math.cos(lat2) * math.sin(dlon/2)**2
        c = 2 * math.atan2(math.sqrt(a),math.sqrt(1-a))
        distance = (R * c)
        dist.append(distance)
        if j == i:
            distance = 0
            dist.append(distance)
            distance_matrix[i] = dist

In [12]:
distance_matrix ## in miles

[[0.15622806932229505,
  1.1342540514124002,
  0.5617491439642786,
  0.1743350202905749,
  1.1304274199379951,
  1.1304274199379951,
  1.5451757664237642,
  1.038868559754768,
  0.6746147951538185,
  0.0,
  0],
 [0.5672384720699383,
  0.5909546222412191,
  1.1557977646081257,
  0.622927821227234,
  0.6124270583414427,
  0.6124270583414427,
  2.214837123148586,
  0.5053094021689228,
  0.0,
  0,
  0.6746147951538185],
 [0.9849148604025462,
  0.09563877752068888,
  1.3678072495177287,
  1.0524056567676403,
  0.1071191565617726,
  0.1071191565617726,
  2.485019567902045,
  0.0,
  0,
  0.5053094021689228,
  1.038868559754768],
 [1.678051334509246,
  2.572775304901693,
  1.1201522460990794,
  1.6461549739107173,
  2.5519736595821,
  2.5519736595821,
  0.0,
  0,
  2.485019567902045,
  2.214837123148586,
  1.5451757664237642],
 [1.0833297259176091,
  0.05098766461575832,
  1.4322418297977904,
  1.1516123785041077,
  0.0,
  0.0,
  0,
  2.5519736595821,
  0.1071191565617726,
  0.6124270583414427,
  1.1304274199379951],
 [1.0833297259176091,
  0.05098766461575832,
  1.4322418297977904,
  1.1516123785041077,
  0.0,
  0,
  0.0,
  2.5519736595821,
  0.1071191565617726,
  0.6124270583414427,
  1.1304274199379951],
 [0.07090356267326312,
  1.147686791199557,
  0.7247353735050484,
  0.0,
  0,
  1.1516123785041077,
  1.1516123785041077,
  1.6461549739107173,
  1.0524056567676403,
  0.622927821227234,
  0.1743350202905749],
 [0.7179762206281916,
  1.4541071327674087,
  0.0,
  0,
  0.7247353735050484,
  1.4322418297977904,
  1.4322418297977904,
  1.1201522460990794,
  1.3678072495177287,
  1.1557977646081257,
  0.5617491439642786],
 [1.0803461672725831,
  0.0,
  0,
  1.4541071327674087,
  1.147686791199557,
  0.05098766461575832,
  0.05098766461575832,
  2.572775304901693,
  0.09563877752068888,
  0.5909546222412191,
  1.1342540514124002],
 [0.0,
  0,
  1.0803461672725831,
  0.7179762206281916,
  0.07090356267326312,
  1.0833297259176091,
  1.0833297259176091,
  1.678051334509246,
  0.9849148604025462,
  0.5672384720699383,
  0.15622806932229505]]

In [13]:
def create_data_model():
    data = {}
    data['distance_matrix'] = distance_matrix
    data['num_vehicles'] = 1
    data['depot'] = 0
    return data

In [14]:
! pip install ortools

Requirement already satisfied: ortools in c:\users\safwa\appdata\roaming\python\python37\site-packages (7.7.7810)
Requirement already satisfied: protobuf>=3.12.2 in c:\users\safwa\anaconda3\lib\site-packages (from ortools) (3.12.4)
Requirement already satisfied: six>=1.10 in c:\users\safwa\anaconda3\lib\site-packages (from ortools) (1.14.0)
Requirement already satisfied: setuptools in c:\users\safwa\anaconda3\lib\site-packages (from protobuf>=3.12.2->ortools) (45.2.0.post20200210)

In [15]:
def create_data_model():
    data = {}
    data['distance_matrix'] = distance_matrix
    data['num_vehicles'] = 1
    data['depot'] = 0
    return data

In [16]:
def print_solution(manager, routing, solution):
    """Prints solution on console."""
    print('Objective: {} miles'.format(solution.ObjectiveValue()))
    index = routing.Start(0)
    plan_output = 'Route for vehicle 0:\n'
    route_distance = 0
    while not routing.IsEnd(index):
        plan_output += ' {} ->'.format(manager.IndexToNode(index))
        previous_index = index
        index = solution.Value(routing.NextVar(index))
        route_distance += routing.GetArcCostForVehicle(previous_index, index, 0)
    plan_output += ' {}\n'.format(manager.IndexToNode(index))
    print(plan_output)
    plan_output += 'Route distance: {}miles\n'.format(route_distance)

In [17]:
import ortools.constraint_solver

In [18]:
from ortools.constraint_solver import routing_enums_pb2

In [19]:
from ortools.constraint_solver import pywrapcp

In [20]:
def main():
    """Entry point of the program."""
    # Instantiate the data problem.
    data = create_data_model()

    # Create the routing index manager.
    manager = pywrapcp.RoutingIndexManager(len(data['distance_matrix']),
                                           data['num_vehicles'], data['depot'])

    # Create Routing Model.
    routing = pywrapcp.RoutingModel(manager)


    def distance_callback(from_index, to_index):
        """Returns the distance between the two nodes."""
        # Convert from routing variable Index to distance matrix NodeIndex.
        from_node = manager.IndexToNode(from_index)
        to_node = manager.IndexToNode(to_index)
        return data['distance_matrix'][from_node][to_node]

    transit_callback_index = routing.RegisterTransitCallback(distance_callback)

    # Define cost of each arc.
    routing.SetArcCostEvaluatorOfAllVehicles(transit_callback_index)

    # Setting first solution heuristic.
    search_parameters = pywrapcp.DefaultRoutingSearchParameters()
    search_parameters.first_solution_strategy = (
        routing_enums_pb2.FirstSolutionStrategy.PATH_CHEAPEST_ARC)

    # Solve the problem.
    solution = routing.SolveWithParameters(search_parameters)

    # Print solution on console.
    if solution:
        print_solution(manager, routing, solution)


if __name__ == '__main__':
    main()

Objective: 0 miles
Route for vehicle 0:
 0 -> 9 -> 8 -> 6 -> 4 -> 5 -> 1 -> 3 -> 7 -> 2 -> 0

In [21]:
opt_route = [0,9,8,6,4,5,1,3,7,2,0]

In [22]:
POI_df

,index,name,review_count,rating,price,lat,long,category
50,0,Seven Lives Tacos y Mariscos,1304,4.5,$,43.654341,-79.400480,Restaurants
53,3,Banh Mi Boys,1109,4.5,$,43.648840,-79.396950,Restaurants
68,18,Gusto 101,974,4.0,$$,43.645002,-79.400309,Restaurants
11,11,Insomnia Restaurant & Lounge,921,4.0,$$,43.665961,-79.411003,Nightlife
3,3,Wvrst,788,4.0,$$,43.644186,-79.401015,Nightlife
78,28,Wvrst,788,4.0,$$,43.644186,-79.401015,Restaurants
80,30,Rol San,738,3.0,$$,43.654353,-79.398313,Restaurants
51,1,Ramen Isshin,699,4.5,$$,43.656340,-79.406890,Restaurants
85,35,Lee Restaurant,635,4.0,$$$,43.644144,-79.400384,Restaurants
62,12,Dumpling House Restaurant,583,3.5,$,43.653780,-79.398700,Restaurants

In [23]:
POI_df.iloc[0]

index                                      0
name            Seven Lives Tacos y Mariscos
review_count                            1304
rating                                   4.5
price                                      $
lat                                  43.6543
long                                -79.4005
category                         Restaurants
Name: 50, dtype: object

In [24]:
dict(POI_df.iloc[9])

{'index': 12,
 'name': 'Dumpling House Restaurant',
 'review_count': 583,
 'rating': 3.5,
 'price': '$',
 'lat': 43.65378,
 'long': -79.3987,
 'category': 'Restaurants'}

In [34]:
name = []
rating = []
price = []

for i in opt_route:
    venue = dict(POI_df.iloc[i])
    name_val = venue['name']
    rating_val = venue['rating']
    price_val = venue['price']
    name.append(name_val)
    rating.append(rating_val)
    price.append(price_val)

In [35]:
name, rating, price

(['Seven Lives Tacos y Mariscos',
  'Dumpling House Restaurant',
  'Lee Restaurant',
  'Rol San',
  'Wvrst',
  'Wvrst',
  'Banh Mi Boys',
  'Insomnia Restaurant & Lounge',
  'Ramen Isshin',
  'Gusto 101',
  'Seven Lives Tacos y Mariscos'],
 [4.5, 3.5, 4.0, 3.0, 4.0, 4.0, 4.5, 4.0, 4.5, 4.0, 4.5],
 ['$', '$', '$$$', '$$', '$$', '$$', '$', '$$', '$$', '$$', '$'])

In [36]:
good_day_dict = {'name': name, 'rating': rating, 'price': price}

In [37]:
good_day_dict

{'name': ['Seven Lives Tacos y Mariscos',
  'Dumpling House Restaurant',
  'Lee Restaurant',
  'Rol San',
  'Wvrst',
  'Wvrst',
  'Banh Mi Boys',
  'Insomnia Restaurant & Lounge',
  'Ramen Isshin',
  'Gusto 101',
  'Seven Lives Tacos y Mariscos'],
 'rating': [4.5, 3.5, 4.0, 3.0, 4.0, 4.0, 4.5, 4.0, 4.5, 4.0, 4.5],
 'price': ['$', '$', '$$$', '$$', '$$', '$$', '$', '$$', '$$', '$$', '$']}

In [40]:
good_day_df = pd.DataFrame(good_day_dict)

In [41]:
good_day_df

                            name  rating price
0   Seven Lives Tacos y Mariscos     4.5     $
1      Dumpling House Restaurant     3.5     $
2                 Lee Restaurant     4.0   $$$
3                        Rol San     3.0    $$
4                          Wvrst     4.0    $$
5                          Wvrst     4.0    $$
6                   Banh Mi Boys     4.5     $
7   Insomnia Restaurant & Lounge     4.0    $$
8                   Ramen Isshin     4.5    $$
9                      Gusto 101     4.0    $$
10  Seven Lives Tacos y Mariscos     4.5     $